*{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
	font-family: "Poppins"
}
header {
    background-color: #000;
    height: 68px;
}
.wrapper-child {
    display: flex;
}
img.nav-logo {
    height: 40px;
}
li.list {
    color: #fff;
    list-style: none;
    display: inline;
}
.img-wrapper {
    margin: 14px 0em 10px 2em;
}
input.input-form {
    width: 295px;
    height: 33px;
}
.form {
    margin-left: 30px;
    margin-top: 18px;
}
ul.ull {
    margin-top: 24px;
    margin-left: 20px;
}
li.list {
    color: #fff;
    list-style: none;
    display: inline;
    margin-left: 3px;
    margin-right: 3px;
    font-family: 'Poppins';
}
.list-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 0em;
}
.list-wrapper::after {
    position: absolute;
    content: '';
    height: 1px;
    margin: 0 auto;
    left: 0;
    right: 0px;
    width: 100%;
    top: 120px;
    background-color: #80808038;
}
.after::after {
    position: absolute;
    content: '';
    height: 2px;
    margin: 0 auto;
    left: 0px;
    right: 133px;
    width: 12%;
    top: 120px;
    background-color: #f95405;
}
.box-wrap {
    margin: 0em 2em;
}
h6.ttl {
    font-size: 15px;
   font-weight: 400;
}
.dip {
  display: grid;
  grid-template-columns: 33.334% 66.667%;
}
img.user {
       width: 250px;
    border-radius: 127px;
    height: 256px;
    position: relative;
    left: 68px;
    top: -23px;
    z-index: 0;
}
h3.username {
    font-weight: 600;
    margin-left: 61px;
    font-size: 23px;
}
span.nick {
    margin-left: 60px;
    color: #00000082;
}
p.stack {
    margin-left: 60px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}
.rep-dip {
    margin-top: 28px;
    margin-left: -37px;
}
input.find {
    width: 92%;
    height: 37px;
    border-radius: 8px;
    border: 1px solid #8080804a;
}
.rep-dip::after {
    position: absolute;
    content: '';
    height: 1px;
    margin: 0 auto;
    left: 323px;
    right: 0;
    width: 56%;
    top: 200px;
    background-color: #80808038;
}
.rep {
    margin-top: 37px;
    margin-left: -37px;
}
.repo {
    margin: 0px 5em;
}
.rep::after {
    position: absolute;
    content: '';
    height: 1px;
    margin: 0 auto;
    left: 0;
    right: 234px;
    width: 18%;
    top: 258px;
    background-color: #80808038;
}
span.span-icon {
    position: relative;
    right: 25px;
    top: 26px;
}
.display-wrap {
    margin-top: 43px;
    margin-left: -35px;
}
h3.user-name {
    font-size: 20px;
    color: #0065ffd4;
}
.wrap {
    display: flex;
    justify-content: space-between;
}
.gmw {
    display: flex;
}
span.color {
    padding: 0px 11px;
    border-radius: 37px;
    background-color: red;
    margin-right: 7px;
}
.gnm {
    margin: 7px 11px;
}
.mnw.gnm {
    margin-left: 0px;
}
.wrpps {
    margin-right: 71px;
}
button.wrap-btn {
    padding: 1px 8px;
}
.display::after{
     position: absolute;
    content: '';
    height: 1px;
    margin: 0 auto;
    left: 323px;
    right: 0;
    width: 56%;
    top: 391px;
    background-color: #80808038;
}
img.profile {
   width: 37px;
    height: 37px;
    border-radius: 48px;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
}
.profile-img {
    margin-right: 29px;
    margin-top: -8px;
}
i.fas.fa-caret-down {
    color: #fff;
}
i.far.fa-bell {
    color: #fff;
}
i.fas.fa-plus {
	 color: #fff;
}
span.crest {
    position: relative;
    top: -14px;
}
.icon-sp {
    position: relative;
    right: 79px;
    top: 26px;
}
span.ic-sp {
    margin: 0px 5px;
}